/* font */
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.font-carattere {
    font-family: 'Carattere', cursive;
}

a{
    border-bottom: 2px solid rgb(235, 39, 160);
    border-radius: 6px;
    padding: 0px 4px;
    box-shadow: 2px 2px 2px gray;
}

a.active{
    background-color: rgb(247, 49, 181);
    color: white;
    padding: 0 8px;
    border-radius: 4px;
}

a:hover{
    background-color: rgb(247, 49, 181);
    color: white;
    padding: 0 4px;
    border-radius: 4px;
}