/* font */
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,500;1,8..144,600;1,8..144,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.font-carattere {
    font-family: 'Carattere', cursive;
}
.roboto-serif{
    font-family: 'Roboto Serif', serif;
}

a{
    border-bottom: 2px solid rgb(235, 39, 160);
    border-radius: 6px;
    padding: 0px 4px;
    box-shadow: 2px 2px 2px gray;
}

a.active{
    background-color: rgb(247, 49, 181);
    color: white;
    padding: 0 8px;
    border-radius: 4px;
}

a:hover{
    background-color: rgb(247, 49, 181);
    color: white;
    padding: 0 4px;
    border-radius: 4px;
}

/* text shadow */

.text-shadow{
    text-shadow: 4px 2px gray;
    border-bottom: 2px solid gray;
    /* border-left: 2px solid gray; */
    border-width: 50px;
}
